body {
  font-family: Arial;
  margin: 0;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: black;
  color: white;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.hero {
  padding: 100px;
  background: #f5f5f5;
}

section {
  padding: 60px;
}

footer {
  background: black;
  color: white;
  padding: 20px;
}